webapp:
  name: negins-lens2-demo
  group: negins-lens2-demo
  condaEnv: lens2
  autoscale:
    minReplicaCount: 1
    maxReplicaCount: 10
    cpuAverageUtilization: 50
  path: /
  tls:
    fqdn: negins-lens2-demo.k8s.ucar.edu
    secretName: incommon-cert-negins-lens2-demo
  container: 
    image: hub.k8s.ucar.edu/ncote/lens2-docker:2024-03-07.21.29
    imagePullPolicy: Always
    port: 5006
    memory: 16G
    cpu: 4
scheduler:
  name: scheduler
  path: /dask-dashboard
  container: 
    image: hub.k8s.ucar.edu/ncote/dask-lens2:2024-03-07.21.29
    imagePullPolicy: Always
    dashboardPort: 8787
    workerPort: 8786
    memory: 16G
    cpu: 1
worker:
  name: dask-worker
  replicaCount: 4